@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.top-Container {
  position: relative;

  height: 700px;
  background-color: #0f172b;
  overflow: hidden;
}

.top-Container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141353.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 1;
}

.top-Container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 23, 43, 0.8);
  z-index: 2;
}
.navbar {
  position: relative;
  z-index: 3;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar1 {
  width: 400px;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.restoran-logo {
  width: 30%;
  height: 80%;
}
.center-container {
  z-index: 3;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  margin-top: 10%;
}
.foodImage {
  width: 30%;
  height: 30%;
}
h1 {
  margin: 0;
  padding: 0;
  font-weight: 900;
}
.p1 {
  margin: 0;
  padding: 0;
}
.bookTableBtn1 {
  color: white;
  background-color: #fea116;
  border: none;
  height: 50px;
  width: 150px;
  margin-top: 8%;
}
.bookTableBtn {
  color: white;
  background-color: #fea116;
  border: none;
  height: 25px;
  width: 150px;
  text-align: center;
  padding: 10px;
}
.homelink,
.contactlink {
  margin-top: 15px;
}

.container1 {
  height: 448px;
  top: 764px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container1 {
  height: 236px;
  width: 160vh;

  display: flex;
  gap: 3%;
}
.center-container1-item1 {
  width: 100%;
  background-color: #fea116;
}
.center-container1-item2 {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px -4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.center-container1-item3 {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px -4px 8px rgba(0, 0, 0, 0.2);

  width: 100%;
}
.center-container1-item4 {
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px -4px 8px rgba(0, 0, 0, 0.2);

  width: 100%;
}
.masterChefImage {
  margin-top: 10%;
  height: 25%;
  width: 30%;
  margin-left: 4%;
}
.masterChefHeading {
  margin-left: 8%;
}
.para {
  margin-left: 8%;
}
.aboutUs-container {
  height: 700px;

  background-color: #e7ecf8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutUs-centerContainer {
  height: 70%;
  width: 80%;
  display: flex;
  gap: 26%;
}

.restaurant-images-Conatainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.restaurant-images-Container1 {
  display: flex;
  gap: 3%;
}
.years {
  font-size: 60px;
  color: #fea116;
}
.aboutUS-container1 {
  width: 100%;

  display: flex;
  gap: 5%;
}
.aboutUS-container1-item1 {
  display: flex;
}

.p2 {
  margin-bottom: 0;
}
.readMoreBtn {
  color: white;
  background-color: #fea116;
  border: none;
  height: 50px;
  width: 150px;
}
.p2 {
  margin-left: 10%;
}
.h4 {
  margin-top: 0;
  margin-left: 10%;
  padding: 0;
}

.restaurant1-Image {
  width: 90%;

  height: 100%;
}
.restaurant2-Image {
  width: 70%;
  margin-top: 18%;
  /* margin-right: 108%; */
  height: 80%;
}
.restaurant3-Image {
  width: 70%;

  height: 80%;
  margin-left: 20%;
  margin-top: 4%;
}
.restaurant4-Image {
  width: 90%;
  margin-top: 4%;

  height: 100%;
}
.aboutUS-container2 {
  margin-top: 5%;
}
.p3 {
  font-size: 15px;
}
.forkIcon {
  width: 10%;
  height: 10%;
}
.welcome-heading {
  display: flex;
}
.welcome {
  margin-top: 2%;
}
.about {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  margin: 0;
  padding: 0;
  color: #fea116;
}
.foodMenu-Container {
  height: 819px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foodMenuContainer-Center {
  height: 626.69px;
  width: 80%;
}
.foodMenu-Top {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.foodMenuIcons {
  width: 25%;
  height: 50%;
}
.foodMenu-Top1 {
  display: flex;
  width: 15%;
  margin-top: 2%;
  border-bottom: 1px solid #bbbab8;
}

.foodMenu-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  gap: 0;
}
.h3 {
  margin-left: 10%;
  margin-top: 0%;

  padding: 0;
}
.p4 {
  margin-left: 10%;
  margin-top: 0%;
  margin-bottom: 0;
}
.line {
  width: 50%;
}
.Breakfast-container {
  border-bottom: 2px solid #fea116;
}
.foodMenu-heading {
  font-family: "Dancing Script", cursive;
  color: #fea116;
  font-size: 25px;
  font-weight: bold;
}
.Top3 {
  margin-left: 0;
}
.pasta-img {
  width: 20%;
  height: 10%;
  margin-top: 6%;
}
.item1 {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-bottom: 0;
  border-bottom: 1px solid #bbbab8;

  height: 50%;
}
.foodMenu-Container1 {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 5%;
}
.foodMenu-Container1-item {
  display: flex;
}

.burger-heading {
  margin-bottom: 0%;
  padding: 0%;
}
.burger-price {
  margin-bottom: 0%;
  padding: 0%;
  color: #fea116;
}
.p5 {
  margin-top: 3%;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 3%;
}
.reservation-Container {
  height: 550px;
  display: flex;
  margin-top: 10%;
  background-color: #0f172b;
  color: white;
}
.reservation {
  margin-left: 7%;
  font-family: "Dancing Script", cursive;
  color: #fea116;
}
.bookTableHeading {
  margin-left: 7%;
}
.reservation-img {
  height: 550px;
  width: 700px;
}
.form-input1 {
  display: flex;
  padding: 10px;
  margin-left: 5%;
  gap: 5%;
}
.input {
  width: 40vh;
  height: 7vh;
}
.input1 {
  width: 42vh;
  height: 8vh;
}
.formInput2 {
  padding: 10px;
  margin-left: 5%;
}
.Special-input {
  width: 78vh;
  height: 13vh;
}
.bookNowBtn {
  color: white;
  background-color: #fea116;
  border: none;
  height: 50px;
  width: 78vh;
  margin-top: 8%;
  margin-left: 8%;
}
.reservation-Container-1 {
  margin-top: 5%;
}
.team-Members-Container {
  height: 638px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-Members-Container-Center {
  height: 484px;
  background-color: pink;
}
.team-Members-heading {
  font-family: "Dancing Script", cursive;
  color: #fea116;
}
.chef-Image {
  height: 50%;
  width: 20%;
  border-radius: 15%;
}
